*{ 
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
}
html{ 
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Helvetica Neue", "Arial", sans-serif; 
    font-size: calc(1.5vh + 1vw + 1%); 
    line-height: 1.5; 
    -ms-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%; 
}
body{ 
    overflow: auto; 
    min-height: 100vh; 
    width: 100vw; 
}
main{
    padding: 1rem 2rem;
}
img{
    width:100px;
    height: 100px;;
}
h1, h2{
    padding: 1rem 0;
}
ul{
    list-style-position: inside;
    padding: 0.5rem 0;
}
p{
    padding: 0.5rem 0;
}